
.user>h1{width: 1200px; height: 40px; line-height: 40px; color:#FFFFFF; font-size: 14px; text-indent: 20px; background: #57974B; margin: 20px auto;}
.user>.middle{border: 1px solid #CCCCCC; width: 1198px;}
.user .middle .left{width: 150px; float:left; background: #f2f2f2; text-align: center;}
.user .middle .left ul li h2{margin:30px auto ; color: #333333; font-size: 14px;}
.user .middle .left ul li ol li{line-height: 31px; font-size: 12px;}
.user .middle .left ul li ol li a{ font-size: 12px; color:#333333;}
.user .middle .left ul li:nth-child(4) ol li:nth-child(2) a{color: #57974B;}
.user .middle .left ul li:nth-child(4) ol li:nth-child(3){margin-bottom: 40px;}
#content .right{ width: 968px; float: right; margin-left: 80px;}
.right .top{margin: 20px auto 10px ;width:968px;position: relative;}
.right .top h2{font-weight: normal; color:#333333; background: #efefef; border: 1px solid #CCCCCC; width:968px; line-height: 38px; height: 38px;font-size: 14px; text-indent: 15px; }
.right .top p{height: 65px; line-height:65px; font-size: 12px; text-indent: 34px; color:#4e4e4e;}
.right .top p span{color: #57974B;}
.right .top img{position: absolute; top: 60px; left: 0px;}
#content .right .middle{font-weight: normal; color: #4e4e4e; }
#content .right .middle h1,#content .right .middle h2{font-weight: normal;font-size: 12px; line-height: 35px; text-indent: 42px;}
#content .right .middle ul li{border: 1px solid #cccccc; border-right: none; margin-bottom: 30px; position: relative;}
#content .right .middle ul li img{position: absolute; top: 18px;right: 21px;}
#content .right .middle ul li a{display: inline-block; color:#57974B;  margin: 10px 0 20px 49px;}
#content .right .middle ul li a:nth-last-child(3){margin-left: 660px;}
#content .right .middle h1{margin-top: 10px;}
#content .right .middle h2:nth-child(3){margin-top: -20px; text-indent: 54px;}
#content .right .middle h2:nth-child(5){ text-indent: 65px;}
#content .right .middle ul li span{color: #eb7572;}
#content .right .middle ul li em{font-style: normal;}


.page ul li{float:left; text-align: center; margin:30px 3px ;}
.page ul li a{outline: none; letter-spacing: -3px; font-size:16px;display: block; height: 34px; line-height: 34px; background: #d7d7d7; color:#666666; padding: 0 15px;}
.page ul li:nth-child(2)>a:hover,.page ul li:nth-child(3)>a:hover,
.page ul li:nth-child(4)>a:hover,.page ul li:nth-child(5)>a:hover,
.page ul li:nth-child(6)>a:hover{background:#57974b; color:#FFFFFF;}
.page ul li.on a{background:#57974b; color:#FFFFFF;}
.page ul li:first-child a,.page ul li:last-child a{background: #d7d7d7;}
.page ul li:first-child{margin-left: 450px;}